<h1> Maintenance ID: <%= @maintenance.id %></h1>
<h2> Equipment: <%= @maintenance.equipment.name %> | <%= @maintenance.equipment.code %> </h2>
<h3> Technician: <%= @maintenance.user.username %> </h3>

<%= form_for @maintenance do |f|%>

    <%= f.hidden_field(:user_id, :value => @user.id) %>
    <%# I want to create a condition, if this is a edit form, I'll show more two options.%>
    <%= f.label :status %>
    <%= f.select :status, options_for_select(["Approved", "Reproved"]) %><br>
    <br>
    <%= f.label :maintenance_type %>
    <%= f.select :maintenance_type, options_for_select([ "Preventive", "Corrective" ], "Preventive") %><br>
    <br>
    <%= f.label :next_maintenance_date %>
    <%= f.text_field :next_maintenance_date %><br>
    <br>
    <%= f.label :notes %>
    <%= f.text_field :notes %><br>
    <br>
    <%= f.hidden_field(:user_id, :value => @user.id) %>
    <br>
    <%= f.submit %>
<% end %>